<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicer.attiary">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".view.common.GlobalApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attiary"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <service android:name=".view.signature.MusicService" />

        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.write.WriteActivity" />
        <activity android:name=".view.signature.HomeActivity" />
        <activity android:name=".view.signature.DiaryActivity" />
        <activity android:name=".view.signature.MonthlyReportActivity" />
        <activity android:name=".view.auth.sign_up.SignUpActivity" />

        <activity android:name=".view.setting.lock.AppPassWordActivity" />
        <activity android:name=".view.setting.lock.SettingPasswordActivity" />

        <activity android:name=".view.common.AppPassWordActivity" />
        <activity android:name=".view.setting.lock.SettingActivity" />
    </application>

</manifest>